In [1]:
import pandas as pd

In [2]:
fpath = "../../resources/ONT_barcode_96_sequences.csv"

df = pd.read_csv(fpath)
df.head()

  Barcode                  Sequence            IDs
0    BC01  AAGAAAGTTGTCGGTGTCTTTGTG  BC01 / RB01
1    BC02  TCGATTCCGTTTGTAGTCGTCTGT  BC02 / RB02
2    BC03  GAGTCTTGTGTCCCAGTTACCAGG  BC03 / RB03
3    BC04  TTCGGATTCTATCGTGTTTCCCTA  BC04 / RB04
4    BC05  CTTGTCCAGGGTTTGTGTAACCTT  BC05 / RB05

In [9]:
outpath = "../../config/barcodes.txt"
pdf = df.copy()
pdf = pdf[['Barcode', 'Sequence']]
pdf.columns = ['cell_id', 'barcode']

pdf['cell_id'] = pdf['cell_id'].str.replace('BC', 'b')
pdf.to_csv(outpath, index=False)
pdf.head()

  cell_id                   barcode
0     b01  AAGAAAGTTGTCGGTGTCTTTGTG
1     b02  TCGATTCCGTTTGTAGTCGTCTGT
2     b03  GAGTCTTGTGTCCCAGTTACCAGG
3     b04  TTCGGATTCTATCGTGTTTCCCTA
4     b05  CTTGTCCAGGGTTTGTGTAACCTT