In [1]:
import sys
import re
import numpy as np
import pandas as pd
import pysam
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
snp_path = "/scratch/indikar_root/indikar1/cstansbu/scpc_test/snp_positions/b11.GRCm39.f1219.snps.pq"
snp = pd.read_parquet(snp_path)
print(f"{snp.shape=}")
print(f"{snp['read_name'].nunique()=}")
snp.head()

snp.shape=(157247, 12)
snp['read_name'].nunique()=2616

,read_name,read_length_on_ref,align_idx,reference_base,read_base,read_base_quality,read_mapping_quality,129S1_SvImJ,CAST_EiJ,read_match_ref,read_match_129S1_SvImJ,read_match_CAST_EiJ
0,a64d8e74-1a5a-5b3e-ad30-6115efbe07e2,87,0,G,A,4,47,G,G,False,False,False
1,a64d8e74-1a5a-5b3e-ad30-6115efbe07e2,87,0,G,T,8,47,G,G,False,False,False
2,a64d8e74-1a5a-5b3e-ad30-6115efbe07e2,87,0,G,A,6,47,G,G,False,False,False
3,709fb70d-a873-4477-901d-313de5d8bdbd,761,0,A,T,4,60,A,A,False,False,False
4,709fb70d-a873-4477-901d-313de5d8bdbd,761,0,A,A,50,60,A,A,True,True,True

In [6]:
pdf = snp[snp['129S1_SvImJ'] != snp['CAST_EiJ']]

pdf = pdf[pdf['read_match_129S1_SvImJ'] | pdf['read_match_CAST_EiJ']]

print(f"{pdf.shape=}")
print(f"{pdf['read_name'].nunique()=}")
print(f"{pdf.shape=}")

pdf['haplotype'] = np.where(pdf['read_match_129S1_SvImJ'], '129S1_SvImJ', 'CAST_EiJ')

pdf['haplotype'].value_counts(dropna=False)

pdf.shape=(20899, 12)
pdf['read_name'].nunique()=2145
pdf.shape=(20899, 12)

haplotype
129S1_SvImJ    10612
CAST_EiJ       10287
Name: count, dtype: int64

In [7]:
2145 / 2616

0.819954128440367

In [8]:
# but how many of the total reads did we get?
fpath = "/scratch/indikar_root/indikar1/cstansbu/scpc_test/align_table/"
df = pd.read_parquet(fpath)
print(f"{df.shape=}")
print(f"{df['read_name'].nunique()=}")
df.head()

df.shape=(685240, 12)
df['read_name'].nunique()=101745

,read_name,align_idx,align_type,read_start,read_end,chrom,ref_start,ref_end,mapping_quality,is_reverse,is_duplicate,alignment_score
0,004ea236-70ac-5e48-ad77-e301c231489c,3,digested,0,375,15,51039716,51040092.0,60,True,False,726
1,004ea236-70ac-5e48-ad77-e301c231489c,0,full,44,477,15,51039658,51040092.0,60,True,False,842
2,004ea236-70ac-5e48-ad77-e301c231489c,1,digested,761,819,15,51039658,51039716.0,19,True,False,116
3,004ea236-70ac-5e48-ad77-e301c231489c,2,digested,761,819,15,51039658,51039716.0,19,True,False,116
4,0058c399-3fba-4b7b-a06b-b6b7e04d421d,0,full,0,410,None,-1,NaN,0,False,False,0

In [9]:
2145 / 101745

0.021082117057349255

$${\rm R} = {\rm log2(reads\,in\,129\,allele/reads\,in\,Castaneus\,allele)}$$

In [4]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)

In [13]:
cdf = snp.copy()

cdf = cdf[~cdf['read_name'].isin(pdf['read_name'].unique())]
print(f"{cdf.shape=}")
print(f"{cdf['read_name'].nunique()=}")

cdf.head()

cdf.shape=(6935, 12)
cdf['read_name'].nunique()=471

,read_name,read_length_on_ref,align_idx,reference_base,read_base,read_base_quality,read_mapping_quality,129S1_SvImJ,CAST_EiJ,read_match_ref,read_match_129S1_SvImJ,read_match_CAST_EiJ
0,a64d8e74-1a5a-5b3e-ad30-6115efbe07e2,87,0,G,A,4,47,G,G,False,False,False
1,a64d8e74-1a5a-5b3e-ad30-6115efbe07e2,87,0,G,T,8,47,G,G,False,False,False
2,a64d8e74-1a5a-5b3e-ad30-6115efbe07e2,87,0,G,A,6,47,G,G,False,False,False
371,b5a5cf85-e533-4f98-b6c7-771542aaf7d2,1001,0,A,G,22,60,A,A,False,False,False
372,b5a5cf85-e533-4f98-b6c7-771542aaf7d2,1001,0,G,C,14,60,G,G,False,False,False

In [ ]:
snp[snp['129S1_SvImJ'] != snp['CAST_EiJ']]

In [ ]:
print(f"{snp.shape=}")

test = snp[['read_name', 'align_idx']].drop_duplicates()
print(f"{test.shape=}")

In [ ]:
fpath =  "/scratch/indikar_root/indikar1/cstansbu/scpc_test/align_table/b11.GRCm39.alignments.pq"

df = pd.read_parquet(fpath)
print(f"{df.shape=}")
print(f"{df['read_name'].nunique()=}")
df.head()

In [ ]:
dir(vcf_file)