In [1]:
import pandas as pd
import os
import sys

In [6]:
fpath = "/scratch/indikar_root/indikar1/cstansbu/scpc_test/hapcut/b11.GRCm39.f1219.fragments"

df = pd.read_csv(fpath, sep=" ", header=None)
df.columns = ['n_snps', 'read_name', 'offset_1', 'offset_2', 'quality']
print(f"{df.shape=}")
df.head(15)

df.shape=(17, 5)

    n_snps                               read_name  offset_1  offset_2 quality
0        1  54893fa2-f913-4f18-95bc-45dfd694e90e_3     94461         0      *(
1        1    8ff076fa-b0b1-4420-aa04-bddff76dc3dc    260979         1      2.
2        1    e4bda37a-6234-4e17-868f-f2c57f9bc7e2    789803        11      ,3
3        1  3555e07d-98be-448b-80bb-1ad1e707ce3f_2    789820        11      -+
4        1    9bb81c6b-9abf-4e88-a27c-5f25c50f747c    789820        10      1+
5        1  9bb81c6b-9abf-4e88-a27c-5f25c50f747c_2    789820        10      1+
6        1  9bb81c6b-9abf-4e88-a27c-5f25c50f747c_2    789820        10      1+
7        1    e4ef1e88-10a8-44da-a06d-0f965da89336    789820         0      2&
8        1    5c415092-95ce-49fe-9749-f95680fff44b    789820        10      2+
9        1    3ff6f6b8-23fb-4c87-9a20-9e8883931b7e    789820        10      2&
10       1    a0357ee2-0308-4cbc-bc06-2aa73c097495    789820        10      2%
11       1    ccadfc40-0cdc-4afd-a4da-cae30b69cba0    789820        10      1&
12       1    d5eeb52a-08c4-5c5d-8353-d2fba63fe31e    789820        10      2&
13       1    03b176d9-14ee-4fdc-b93d-50c39003e60c    789820         0      2&
14       1  1790c4dd-9676-459a-90e0-2b2d1268613f_3   1529842         0      22