In [15]:
import pysam
import pandas as pd

In [16]:
fpath = "../scripts/alignments.bam"

bam_file = pysam.AlignmentFile(fpath)

res = []

for read in bam_file:

    read_rec = {
        'read_name' : read.query_name,
        'chrom' : read.reference_name,
        'mapping_quality' : read.mapping_quality,
    }
    res.append(read_rec)
    
res = pd.DataFrame(res)
res.head()

                                      read_name chrom  mapping_quality
0  8eda7024-69f5-4b9a-897c-58355e993c02:000:419  None                0
1  87453d7f-6313-4c87-a18f-5acac3e40913:000:348  None                0
2  851124af-7dcb-4241-abe3-49e990381f44:000:456  None                0
3  5bd6f8e7-f426-438a-8dc5-0a8ace3ee7e4:000:254  None                0
4  5bd6f8e7-f426-438a-8dc5-0a8ace3ee7e4:254:286  None                0

In [19]:
res['mapping_quality'].value_counts()

mapping_quality
0     42130
60     8467
1       655
35      140
18      130
      ...
5        28
27       24
56       22
57       22
51       20
Name: count, Length: 61, dtype: int64

In [20]:
fpath = "../scripts/test.chromunity.parquet"

df = pd.read_parquet(fpath)
df.head()

,cid,read_name,chrom,start,end,num_fragments,pass_filter
0,1d750b1d-f2b6-435e-9581-2c0aac2d2df0,1d750b1d-f2b6-435e-9581-2c0aac2d2df0,2,60903253,60903337,1,TRUE
1,1d750b1d-f2b6-435e-9581-2c0aac2d2df0,1d750b1d-f2b6-435e-9581-2c0aac2d2df0,13,18145454,18145628,1,TRUE
2,1d750b1d-f2b6-435e-9581-2c0aac2d2df0,1d750b1d-f2b6-435e-9581-2c0aac2d2df0,13,18146032,18146169,1,TRUE
3,1d750b1d-f2b6-435e-9581-2c0aac2d2df0,1d750b1d-f2b6-435e-9581-2c0aac2d2df0,13,18145628,18145945,1,TRUE
4,4f2bbbfc-55e4-421e-8e36-0ca1b22e12bf,4f2bbbfc-55e4-421e-8e36-0ca1b22e12bf,10,5316121,5316346,1,TRUE